<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melonecom.mapper.UserMapper">

    <select id="selectEnabledUserIds" resultType="java.lang.Long">
        SELECT id
        FROM tb_user
        WHERE status = 0
        ORDER BY id ASC
    </select>

</mapper>
